/* ================= HEADER ================= */
header {
  background: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* MENU TOGGLE (☰) */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  display: none; /* tampil hanya di mobile */
}

/* NAV DESKTOP */
#nav-menu {
  display: flex;
  gap: 20px;
}

#nav-menu a {
  color: white;
  text-decoration: none;
}

/* DARK MODE BUTTON */
.dark-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
}

/=============== MAIN =============/
.analyst-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.analyst-item {
  text-align: center;
}

.analyst-item img {
  width: 100%;
  border-radius: 10px;
}

/* ================= HERO TEXT ================= */
/* ================= HERO TEXT ================= */
.hero-content {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #ffffff;
  padding: 18px 80px;
  border-radius: 16px;
  text-align: center;
  font-size: 82px;
  font-weight: 800;
  letter-spacing: 3px;

  display: block;
  width: 85%;
  margin: 30px auto;

  position: relative;
  box-shadow: 0 14px 30px rgba(30, 60, 255, 0.45);
  animation: floatText 4s ease-in-out infinite;
}

/* Floating animation */
@keyframes floatText {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Glow halus */
.hero-content::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: radial-gradient(circle, rgba(255,255,255,0.25), transparent 70%);
  opacity: 0.6;
  z-index: -1;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content {
    font-size: 48px;
    padding: 14px 25px;
    width: 92%;
  }
}

/* ======================================== */
.home-hero {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================= TEXT1 ================= */
.caption-1 {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
}
/* ================= TEXT2 ================= */
.caption-2 {
  max-width: 800px;
  margin: 10px auto;
  text-align: justify;
}

/* ================= PROJECT DIVIDER ================= */
.project-divider {
  width: 100%;
  max-width: 900px;
  height: 1px;
  margin: 90px auto;   /* jarak atas & bawah antar project */

  background: linear-gradient(
    to right,
    transparent,
    rgba(0,0,0,0.35),
    transparent
  );
}

