/* HERO SECTION */
.home-hero {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin-top: 80px; /* kompensasi header fixed */
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* CONTENT */
.home-content {
  padding: 40px;
  text-align: center;
}

.caption {
  max-width: 700px;
  margin: 20px auto;
}
