* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.dark-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
}

body.dark {
  background: #121212;
  color: #f1f1f1;
}

body.dark header,
body.dark footer,
body.dark nav {
  background: #000;
}


/* MAIN */
main {
  padding: 100px 40px 40px;
  min-height: 70vh;
}

/* FOOTER */
footer {
  background: #1e1e1e;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    position: absolute;
    top: 60px;
    right: -220px;
    width: 200px;
    transition: right 0.3s ease;
  }

  nav.show {
    right: 0;
  }

  nav a {
    padding: 15px;
    border-top: 1px solid #333;
  }

  .menu-toggle {
    display: block;
  }
}
