* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #222;
  color: white;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  display: none;
}

/* menu default */
#nav-menu {
  display: none;
  flex-direction: column;
  background: #333;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px;
}

#nav-menu a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

header {
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* .menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
} */

.dark-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
}

body.dark {
  background: #121212;
  color: #f1f1f1;
}

body.dark header,
body.dark footer,
body.dark nav {
  background: #000;
}


/* MAIN */
main {
  padding: 100px 40px 40px;
  min-height: 70vh;
}

/* Gambar Awal*/
.card {
  max-width: 300px;
  margin: 30px auto;
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

body.dark .card {
  background: #1e1e1e;
}


/* FOOTER */
footer {
  background: #1e1e1e;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    position: absolute;
    top: 60px;
    right: -220px;
    width: 200px;
    transition: right 0.3s ease;
  }

  nav.show {
    right: 0;
  }

  nav a {
    padding: 15px;
    border-top: 1px solid #333;
  }

  .menu-toggle {
    display: block;
  }
}
