
/* ================= HEADER ================= */
header {
  background: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* MENU TOGGLE (☰) */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  display: none; /* tampil hanya di mobile */
}

/* NAV DESKTOP */
#nav-menu {
  display: flex;
  gap: 20px;
}

#nav-menu a {
  color: white;
  text-decoration: none;
}

/* DARK MODE BUTTON */
.dark-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
}

/*=============== MAIN =============*/
.website-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.website-item {
  text-align: center;
}

.website-item img {
  width: 100%;
  border-radius: 10px;
}

/* ================= HERO TEXT ================= */
.hero-content {
  background: rgba(40, 60, 255, 1);
  color: white;
  padding: 25px 40px;
  border-radius: 0px;
  text-align: center;
  font-size: 120px;
}

/* ================= TEXT1 ================= */
.external-link {
  color: #1a73e8;
  font-weight: 600;
  text-decoration: none;
}

.external-link:hover {
  text-decoration: underline;
}

.caption-1 {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
}
/* ================= TEXT2 ================= */
.caption-2 {
  max-width: 800px;
  margin: 10px auto;
  text-align: justify;
}

/* ===========Tampilan 1 ===================================--- */
/* =========== Tampilan 1 ============================== */
.tampilan1-img {
  align-self: center;
  display: block;        /* ⬅️ KUNCI-nya */
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: 30px auto;     /* auto kiri-kanan = tengah */
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
  .tampilan1-img {
    width: 90%;
  }
}

